/* MINI GRID */

*,
*:before,
*:after {
        margin: 0;
        padding: 0;
        -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.frame {
        width: 100%;
}

[class*='col'] {
  float: left;
}

[class*='col']:last-of-type {
  float: right;
}

.col1  { width: 100% }
.col2  { width: 50% }
.col3  { width: 33.33% }

/* Clearfix */
.frame:after {
  content: "";
  display: block;
  clear: both;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
/*Custom CSS for Views*/

/*Application:*/
*{
  font-family: 'Open Sans', sans-serif;
}

h3{
  color: #E16D17;
}

.branding{
  font-family: 'Akronim', cursive;
  font-size: 60px;
  color: #E16D17;
}

.clear-both{
  clear: both;
}
.frame {
        width: 80%;
        margin: 0 auto;
}

.header {
        background-color: #ECECEC;
        padding: 15px;
}

.header, .header a, .header a:visited {
        text-decoration: none;
        color: #4A4A4A;
}

.sub-heather{
  margin: 25px 0;
}

.current a, .current a:visited {
        color: #17A697;
}

.link-block {
        text-align: center;
  padding: 50px;
}

.top-nav{
  padding-left:31px;
}

.nav-menu{
  float: left;
  margin-right: 37px;
}

.search{
  float: right;
  margin-right: 42px;
}

.search-box{
  width: 845px;
  height: 30px;
}
}
.search-tag{
  font-size: 20px;
  color: #4A4A4A;
}

.nav-menu a{
  text-decoration: none;
  font-size: 20px;
  color: #4A4A4A;
}

/*.search-button{
  width: 71px;
  height: 30px;
  background-color: #E16D17;
  color: white;
  font-size: 15px;
  border-radius: 6px;
}*/

.search-button{
    background-color:#E16D17;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#fafafa;
    font-size:14px;
    font-weight:bold;
    padding:5px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
}
.search-button:hover {
    background-color:#C1580A;
}
.search-button:active {
    position:relative;
    top:1px;
}


.login-status{
  margin-top: 70px;
  color: #E16D17;
}



/*Product: =>  /*index*/
.product-list{
  list-style: none;
}

.product-title{
  float: left;
  color: #4A4A4A;
  padding-right: 10px
}
.show-edit{
  float: left;
  padding-top: 9px;
}
.show-edit a{
  text-decoration: none;
  color: #E16D17;
}
.product-subtitle{
  float: left;
}

.center-picture{
  text-align: center;
}

.thumb-image{
  max-width: 60%;
  max-height: 55%;
}

.box{
  position: relative;
  width: 20%;
  float: left;
  margin: 2.5%;
}

.box:before{
  content: "";
  display: block;
  padding-top: 100%;  /* initial ratio of 1:1*/
}

.index-product{
  position:  absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

.product-price-subtitle{
  float: left;
}
.product-price{
  float: left;
  padding-top: 4px;
  padding-left: 4px;
}
.product-description{
  float: left;
  padding-top: 4px;
  padding-left: 4px;
}
.anchor-title{
  text-decoration: none;
}

.user-info{
  float: right;
}

.log-in-out{
  float: right;
  margin-left: 2%;
}

/*Product: =>  /*edit*/
.edit{
  width: 50%;
  margin: 0 auto;
}

/*Product: =>  /*new*/
.new{
  width: 50%;
  margin: 0 auto;
}
/*form*/
.button{
    background-color:#E16D17;
    -moz-border-radius:4px;
    -webkit-border-radius:4px;
    border-radius:4px;
    border:1px solid #dcdcdc;
    display:inline-block;
    color:#fafafa;
    font-size:14px;
    font-weight:bold;
    padding:7px 24px;
    text-decoration:none;
    text-shadow:0px 0px 0px #70706f;
}
.button:hover {
    background-color:#C1580A;
}
.button:active {
    position:relative;
    top:1px;
}

/*show*/
.main-image{
  max-width: 600px;
}
.cushion{
  padding: 0 31px;
}

/*Review:*/


/*Session:*/
