<section class="edit-form">
  <div class="frame">
    <div class="edit">
      <h1>Edit product</h1>
      <%= render 'form' %>
      <%= link_to 'Cancel', product_path %>
    </div>
  </div>
</section>
