<section class="new-form">
  <div class="frame">
    <div class="new">
      <h1>New product</h1>
      <%= render 'form' %>
      <%= link_to 'Cancel', products_path %>
    </div>
  </div>
</section>



